@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: light dark;
  color: #242424; 
  background-color:rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
body{
  @apply font-sans;
}
